version: 0.2

env:
  variables:
    IMAGE_NAME: "softbank-api"
    APP_VERSION: "1.0.0"
  parameter-store:
    ECR_URI: "/softbank/api/ecr-uri"

phases:
  pre_build:
    commands:
      - aws ecr get-login-password --region "$AWS_DEFAULT_REGION" | docker login --username AWS --password-stdin "$(echo $ECR_URI | cut -d'/' -f1)"
      - IMAGE_TAG=$(TZ='Asia/Seoul' date '+%Y%m%d%H%M%S')
  build:
    commands:
      - docker build -t ${IMAGE_NAME}:${IMAGE_TAG} .
      - docker tag ${IMAGE_NAME}:${IMAGE_TAG} ${ECR_URI}:${APP_VERSION}-${IMAGE_TAG}
      - docker tag ${IMAGE_NAME}:${IMAGE_TAG} ${ECR_URI}:latest
  post_build:
    commands:
      - docker push ${ECR_URI}:${APP_VERSION}-${IMAGE_TAG}
      - docker push ${ECR_URI}:latest
      - printf '[{"name":"softbank-api","imageUri":"%s"}]' ${ECR_URI}:${APP_VERSION}-${IMAGE_TAG} > imagedefinitions.json
      - cat imagedefinitions.json

      # taskdef.json에 이미지 URI 치환
      # - sed "s#REPLACE_IMAGE_URI#${ECR_URI}:${APP_VERSION}-${IMAGE_TAG}#g" taskdef.json > taskdef.json
      # - cat taskdef.json

# artifacts:
#   files:
#     - appspec.yml
#     - taskdef.json
#   discard-paths: yes

artifacts:
  files:
    - imagedefinitions.json
  discard-paths: yes
