version: 0.2

env:
  variables:
    IMAGE_NAME: "softbank-api"
  parameter-store:
    ECR_URI: "/softbank/api/ecr-uri"

phases:
  pre_build:
    commands:
      - cd ..
      - aws ecr get-login-password --region "$AWS_DEFAULT_REGION" | docker login --username AWS --password-stdin "$(echo $ECR_URI | cut -d'/' -f1)"
      - COMMIT_SHA=$(echo $CODEBUILD_RESOLVED_SOURCE_VERSION | cut -c1-7)
  build:
      - docker build -t ${IMAGE_NAME}:${COMMIT_SHA} .
      - docker tag ${IMAGE_NAME}:${COMMIT_SHA} ${ECR_URI}:${COMMIT_SHA}
      - docker tag ${IMAGE_NAME}:${COMMIT_SHA} ${ECR_URI}:latest
  post_build:
    - docker push ${ECR_URI}:${COMMIT_SHA}
    - docker push ${ECR_URI}:latest