name: prod-push-notify

on:
  push:
    branches: [ "prod" ]

jobs:
  notify-and-maybe-trigger:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Mark start
        id: start
        run: echo "ts=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Extract info
        id: info
        run: |
          echo "commit_msg<<EOF" >> $GITHUB_OUTPUT
          echo "${{ github.event.head_commit.message }}" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-2
          role-to-assume: ${{ github.ref_name == 'prod' && secrets.AWS_ROLE_ARN_PROD || secrets.AWS_ROLE_ARN_DEV }}

      - name: Send Slack message
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          COMMIT="${{ steps.info.outputs.sha }}"
          MSG="${{ steps.info.outputs.commit_msg }}"
          PAYLOAD=$(jq -n --arg text "*prod* push: \`$COMMIT\`\n$MSG" \
             '{text:$text}')
          curl -X POST -H 'Content-type: application/json' \
               --data "$PAYLOAD" "$SLACK_WEBHOOK_URL"

      # - name: Auto trigger if keyword present
      #   if: contains(steps.info.outputs.commit_msg, '[auto-deploy]')
      #   run: |
      #     aws lambda invoke \
      #       --function-name softbank-prod-trigger \
      #       --payload "$(jq -n --arg commit "${{ steps.info.outputs.sha }}" \
      #                        '{source:"github", auto:true, commit:$commit}')" \
      #       /dev/null


      - name: Publish CI metrics to CloudWatch
        if: always()
        env:
          NS: CI/GitHub
          REPO: ${{ github.repository }}
          BRANCH: ${{ github.ref_name }}
          WORKFLOW: ${{ github.workflow }}
        run: |
          DURATION=$(( $(date +%s) - ${{ steps.start.outputs.ts }} ))
          STATUS_VAL=0
          if [ "${{ job.status }}" = "success" ]; then STATUS_VAL=1; fi

          DIM="repo=$REPO,branch=$BRANCH,workflow=$WORKFLOW"

          aws cloudwatch put-metric-data \
            --namespace "$NS" \
            --metric-name BuildStatus \
            --value "$STATUS_VAL" \
            --unit Count \
            --dimensions "$DIM"

          aws cloudwatch put-metric-data \
            --namespace "$NS" \
            --metric-name BuildDurationSec \
            --value "$DURATION" \
            --unit Seconds \
            --dimensions "$DIM"